<a href="https://colab.research.google.com/github/JaymariePasno/Linear-Algebra/blob/main/%20Python%20Exercise%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
x = 1
a, b = 0, -1

print(x, 'is of type', type(x))

y = 1.0
print(y, 'is of type',type(y))

x = float(x)
print(x, 'is of type', type(x))

s,t,u="0",'1','one'
print(s,",",t,",",u,",", 'is of type', type(s),type(t),type(u))

s_int="s"
print(s_int,"is of type",type(s_int))

1 is of type <class 'int'>
1.0 is of type <class 'float'>
1.0 is of type <class 'float'>
0 , 1 , one , is of type <class 'str'> <class 'str'> <class 'str'>
s is of type <class 'str'>

In [ ]:
a, b, c, d = 2.0, -0.5, 0, -32
### Addition
Sum= a+b
print("The sum of",a,"and",b,"is: ",sum)

### Subtraction
Difference = b-d
print("The difference between",b,"and",d,"is: ",Difference)

### Multiplication
Product = a*d
print("The product of",a,"and",d,"is: ",Product)

### Division
Quotient =c/a
print("The quotient of",c,"and",a,"is: ",Quotient)

### Exponentiation
Exponentiation = a**b
print("the exponentiation of",a,"and",b,"is: ",Exponentiation)

### Modulo
Modulo = d%a
print("the modulo of",d,"and",a,"is: ",Modulo)

The sum of 2.0 and -0.5 is:  1.5
The difference between -0.5 and -32 is:  31.5
The product of 2.0 and -32 is:  -64.0
The quotient of 0 and 2.0 is:  0.0
the exponentiation of 2.0 and -0.5 is:  0.7071067811865476
the modulo of -32 and 2.0 is:  0.0

In [67]:
G, H, J, K = 0, 100, 2, 2
G += J
print("the answer is: ",G)

H -= K
print("the answer is: ",H)

J *= 2
print("the answer is: ",J)

K **= 2
print("the answer is: ",K)

the answer is:  2
the answer is:  98
the answer is:  4
the answer is:  4

In [75]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

## Equality
print("the answer is",res_1 == true_val)

## Non-equality
print("the answer is",res_2 != true_val)

## Inequality
t1 = res_1 > res_2
print("the answer is",t1)

t2 = res_1 < res_2/2
print("the answer is",t2)

t3 = res_1 >= res_2/2
print("the answer is",t3)

t4 = res_1 <= res_2
print("the answer is",t4)

the answer is True
the answer is True
the answer is False
the answer is False
the answer is True
the answer is True

In [86]:
from re import X
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

x1= res_1 == true_val
print("the answer is:",x1)

x2= res_1 is true_val
print("the answer is:",x2)

x3= res_1 is not true_val
print("the answer is:",x3)

p, q = True, False
conj = p and q
print("the answer is:",conj)

p, q = True, False
disj = p or q
print("the answer is:",disj)

p, q = True, False
nand = not(p and q)
print("the answer is:",nand)

p, q = True, False
xor = (not p and q) or (p and not q)
print("the answer is:",xor)

the answer is: True
the answer is: False
the answer is: True
the answer is: False
the answer is: True
the answer is: True
the answer is: True

In [116]:
print("Hello World")

cnt = 1

string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

print(f"{string}, Current count is: {cnt}")
print("")

sem_grade = 82.243564657461234
print("sem grade : ",sem_grade)
name = input("name: ")
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))
print("")

w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))
print("")

x = input("enter a number: ")
print("number: ",x)
print("")

name =input("Kimi no nawa: ")
pg =int (input("Enter prelim grade: "))
mg =int (input("Enter midterm grade: "))
fg =int (input("Enter finals grade: "))
sem_grade = (pg+mg+fg)/3
print("sem grade: ",sem_grade)
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello World
Hello World , Current run count is: 1
Hello World, Current count is: 2

sem grade :  82.24356465746123
name: jj
Hello jj, your semestral grade is: 82.24356465746123

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

enter a number: 80
number:  80

Kimi no nawa: jj pasno
Enter prelim grade: 90
Enter midterm grade: 90
Enter finals grade: 90
sem grade:  90.0
Hello jj pasno, your semestral grade is: 90.0

In [121]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1
print("")
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
  print(i)

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

0
1
2
3
4
5
6
7
8
9

In [120]:
###Condition Statements
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
  print("Yey")
elif(numeral1>numeral2):
  print("Hoho")
else:
    print("Aww")
print("Hip hip")

Yey
Hip hip

In [123]:
# void DeleteUser(int userid){
# delete(userid);
# }

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")